{
  "env": {
    "node": true,
    "jest": true,
    "es2020": true
  },
  "extends": ["airbnb-base", "plugin:security/recommended", "plugin:prettier/recommended"],
  "plugins": ["security", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "always",
        "json": "always"
      }
    ],
    "no-console": "error",
    "func-names": "off",
    "no-underscore-dangle": "off",
    "consistent-return": "off",
    "security/detect-object-injection": "off",
    "radix": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["node_modules"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
